body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


.info {
	border-left: solid 10px orange;
	padding: 0 0 0 20px
}


input {
	display: block;
}

img {
	max-width: 300px;
}
.buttons{
	margin: 0 0 70px 0;
	display: flex;
	justify-content:space-between
}
.Btn {
	background-color: rgb(250, 250, 102);
	height: 60px;
	width: 150px;
	border-radius: 10px;
	border: none;
	font-weight: bold;

}
.Btn:hover {
	background-color: crimson;
	color: white;
}